<screen title="Register now" :error="error">
    <form method="POST">
        <input type="hidden" name="profile_type" value="profile">
        <form-field label="Email">
            <input id="email" name="email" placeholder="Email" v-model="model.email">
        </form-field>
        <form-field label="Password">
            <password>
                <input type="password" v-model="model.password" name="password" placeholder="Password">
            </password>
        </form-field>
        <form-field label="Given name">
            <input id="given_name" name="given_name" placeholder="Given name" v-model="model.given_name">
        </form-field>
        <form-field label="Family name">
            <input id="family_name" name="family_name" placeholder="Family name" v-model="model.family_name">
        </form-field>
        <button class="btn btn-primary btn-block mb-4" :disabled="!isFormValid">
            Register
        </button>
    </form>

    <template slot="footer">
        <div class="row justify-content-around align-items-center">
            <div class="col-sm-6 col-lg-4">
                I already have an account
            </div>
            <div class="col-sm-6 col-lg-4">
                <nav-link path="login">
                    <button class="btn btn-block" type="button">
                        Sign in
                    </button>
                </nav-link>
            </div>
        </div>
    </template>
</screen>