<div>
    <div class="input-group" v-show="!isPasswordShown">
        <slot></slot>
        <div class="input-group-append">
            <span class="input-group-text fa fa-eye" @click="isPasswordShown = true"></span>
        </div>
    </div>
    <div class="input-group" v-show="isPasswordShown">
        <input  class="form-control" :value="element.value" @input="onVisiblePasswordInput($event.target.value)">
        <div class="input-group-append">
            <span class="input-group-text fa fa-eye-slash" @click="isPasswordShown = false"></span>
        </div>
    </div>
    <password-meter v-if="showMeter" :password="element.value"></password-meter>
</div>