<form method="POST">
    <screen title="Reset your password">
        <div class="alert alert-danger" role="alert" v-if="errorMessage">
                Your password does not meet the minimum requirements. Please verify and try again
        </div>
        <input type="hidden" name="profile_type" value="profile">
        <input type="hidden" name="token" :value="details.params.request_token">
        <div class="row">
            <div class="col">
                <form-field>
                    <password show-meter>
                        <input type="password" v-model="newPassword" name="password" placeholder="New password">
                    </password>
                </form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form-field>
                    <password>
                        <input type="password" v-model="newPasswordConfirm" placeholder="Repeat password">
                    </password>
                </form-field>
            </div>
        </div>

        <template slot="footer">
            <button class="btn btn-primary btn-block" :disabled="!isFormValid">Reset</button>
        </template>
    </screen>
</form>