<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>
        Success! The tokens would now be handed over to the callback URI.
    </p>
    <p>
        Please note, this template <strong>is a stub</strong> and will <strong>not actually be rendered</strong> by PolicyGate.
        It merely exists to have a fully functional local development experience.
    </p>
    <div>
        <a href="/">Go back to the entry point of the application</a>
    </div>
</html>